@font-face{


    src:url(fonts/SuperPixel-m2L8j.ttf);
    font-family: pixil;
}

@font-face {
    font-family: spike;
    src: url( fonts/SupremeSpike-KVO8D.otf);
}

@font-face {
    font-family: Nunito;
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}

body{


    background-image: url(photos/Dioxazine\ Wallpapers\ -\ iXpap_upscayl_5x_upscayl-standard-4x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    padding:0px;
}

#par{

color:#c569e1;
font-size: 40px;
font-family:Nunito ;
text-align: center;

}

#name{

        color:hwb(296 36% 20%);
        
        font-size:larger;
        width: 400px;
        height: 400px;
        margin-left: 490px;
       text-shadow: #c569e1 0 0 15px;
       font-family:pixil ;
       text-align: center;
    }


    #Fline{

        color:#cb95dc;

       text-align: center;
       font-family: Nunito;
       font-size: 50px;
       margin-bottom: 100px;
       justify-content: center;
      


    }

    .categories{

     

     #horrorBu{

     
     background-color: #31226ce6;
     width: 600px;
     height: 150px;
     margin-left: 100px;
     margin-bottom: 100px;
     border: none;
     color:white;
     border-radius: 30px;
     position: relative;

     display: flex;
     justify-content: center;
     align-items: center;



     }
       #horrorBu::after{

      content:'';
      position: absolute;
      width: 102%;
      height: 108%;
      border-radius: 30px;
      background-image: linear-gradient(to bottom right, rgb(106, 34, 165) ,#410cc5 );
      z-index: -1;
  

       }

       #horrorBu:hover{
       z-index: 0;
       box-shadow: 40px 0 100px #410cc5 ;

       }
     

     #RRB{

       background-color: #31226cdd;
       width: 600px;
       height: 150px;
       margin-left: 700px;
       margin-bottom: 60px;
       border-radius: 30px;
       margin-right: 100px;
       
       
       border:none;
       border-width: 5px;
       color:white;
       position: relative;

     display: flex;
     justify-content: center;
     align-items: center;


       

      }

        #RRB::after{

            content:'';
           position: absolute;
           width: 102%;
           height: 108%;
           border-radius: 30px;
           background-image: linear-gradient(to bottom right, rgb(106, 34, 165) ,#410cc5 );
           z-index: -1;
  

        }

            #RRB:hover{
                 z-index: 0;
                 box-shadow: 40px 0 100px #410cc5 ;

            } 


     #GA{

     background-color: #31226cdd;
       width: 600px;
       height: 150px;
       margin-left: 100px;
       margin-bottom: 60px;
       border-radius: 30px;
       margin-right: 100px;
       
       
       border:none;
       border-width: 5px;
       color:white;
       position: relative;

     display: flex;
     justify-content: center;
     align-items: center;

    }


    #GA::after{

            content:'';
           position: absolute;
           width: 102%;
           height:108%;
           border-radius: 30px;
           background-image: linear-gradient(to bottom right, rgb(106, 34, 165) ,#410cc5 );
           z-index: -1;
  

        }

        #GA:hover{
                 z-index: 0;
                 box-shadow: 40px 0 100px #410cc5 ;

            } 










     
     #AAD{

       
      background-color: #31226cdd;
       width: 600px;
       height: 150px;
       margin-left: 700px;
       margin-bottom: 60px;
       border-radius: 30px;
       margin-right: 100px;
       
       
       border:none;
       border-width: 5px;
       color:white;
       position: relative;

     display: flex;
     justify-content: center;
     align-items: center;






     }



     #AAD::after{

            content:'';
           position: absolute;
           width: 102%;
           height:108%;
           border-radius: 30px;
           background-image: linear-gradient(to bottom right, rgb(106, 34, 165) ,#410cc5 );
           z-index: -1;
  

        }

             #AAD:hover{
                 z-index: 0;
                 box-shadow: 40px 0 100px #410cc5 ;

            } 



  }

